*{
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

body{
    font-family: 'Montserrat', sans-serif;
}

/* Header */
header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    width: 100%;
    background: white;
    z-index: 10;
    padding-block: 10px;
    box-shadow: 1px 1px 25px rgba(0, 0, 0, 0.1);
}

.mw1320{
    max-width: 1320px;
    margin-inline: auto;
}

.header-menu{
    display: flex;
    list-style: none;
    align-items: center;
    padding: 0 10px;
    font-size: 1.2rem;
}

.header-menu li a{
    text-decoration: none;
    color:#161616;
    display: block;
    padding: 5px 15px ;
    box-sizing: border-box;
    border-radius: 10px;
    transition: .2s ease;
}

.header-menu li a:hover{
    background-color: rgb(235 235 235);
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    transition: .2s ease;
}

.header-logo{
    margin: 0 20px;
}

/* Slider*/
.slider{
    width: 100%;
    min-height: 80vh;
    aspect-ratio: 16/9;
    background: #161616;
    position: relative;
}

.slider-background{
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(40%);
    animation-duration: 4s;
    animation-name: fadein;
}

@keyframes fadein {
    0% { opacity: 0; }
  100% { opacity: 1; }
    }

.slider-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    text-wrap: balance;
}

h1{
    color:azure;
    font-size: 4rem;
    animation: pulse 1.5s;
    animation-iteration-count: 5;
}

.slider-content h2 {
    animation: pulse 1.5s;
    animation-iteration-count: 5;
}

@keyframes pulse {
    0% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.05);
    }
    100% {
      transform: scale(1);
    }
}

h2{
    font-size: 3rem;
    margin-bottom: 
    70px;
}

p{
    font-size: 1.5rem;
    line-height: 1.5em;
}

.slider-content h2{
    color: azure;
    font-size: 2rem;
    font-weight: 300;
}

/* A propos*/
.section{
    padding: 70px 20px;
    scroll-margin-top: 60px;
}

.boxed{
    max-width: 1280Px;
    margin-inline: auto;
}

.flex{
    display: flex;  
}

.gap20{
    gap: 20px;
}

.w40{
    width: 30%;
    padding-left: 30px;
    padding-right: 10px;
}
 
.w60{
    width: 70%;
    padding-left: 10px;
    padding-right: 30px;
    text-align: justify;
}

/* Compétences*/
.dark{
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(../images/slider.webp);
    background-size: cover;
    background-position-y: 50%;
    color: azure;
}

.text-center{
    text-align: center;
}

.w14{
    width: 14%;
}

.skill{
    font-size: 0.7em;
    background: rgb(235 235 235);
    border-radius: 15px;
    padding: 20px;
    box-sizing: border-box;
}

.skill img{
    height: 48px;
    width: 48px;
    object-fit: cover;
}

.skill h3{
    margin-top: 10px;
    color: #161616;
    text-align: center;
}

/* Réalisations*/
.real{
    justify-content: space-between;  
}

.wrap{
    flex-wrap: wrap;
}

.space-between{
    justify-content: space-between;
}

.gap50{
    gap: 50px;
}

.realisation{
    width: 30%;
    height: fit-content;
    position: relative;
    filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.2));
}

.realisation h3{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
    width: 90%;
    opacity: 0;
    text-wrap: balance;
    transition: .4s ease;
}

.realisation a{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: azure;
}

.realisation img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 25px;
    border: 1px solid #e7e3e3;
}

.realisation:hover img{
    filter: brightness(60%);
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    transition: .2s ease;
}

.realisation:hover h3{
    opacity: 1;
}

.button-cv{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    margin-bottom: 40px;
    cursor: pointer;   
}

.button-cv h2{
    margin: auto;
    text-align: center;
    padding: 8px 20px;
    font-size: 2rem;
    border: 1px solid;
    border-radius: 20px;
    animation: wiggle 2s ease-in-out infinite;
    -webkit-box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.47);
    box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.47);
}

@keyframes wiggle{
    0%, 7% {
      transform: rotateZ(0);
    }
    15% {
      transform: rotateZ(-4deg);
    }
    20% {
      transform: rotateZ(4deg);
    }
    25% {
      transform: rotateZ(-4deg);
    }
    30% {
      transform: rotateZ(2deg);
    }
    35% {
      transform: rotateZ(-2deg);
    }
    40%, 100% {
      transform: rotateZ(0);
    }
  }

  .button-cv a{
    text-decoration: none;
    color: #161616;
  }  

  .button-cv h2:hover{
    background-color: #161616;
    color: azure;
  }

  .cv-img{
    display: flex;
    padding: 20px;
    margin: auto;
    width: 85%;
    border-radius: 15px;
    -webkit-box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.47);
    box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.47);
  }

  .cv-footer{
    display: flex;
    gap: 80px;
    justify-content: center;
    margin-bottom: 60px;
}

.cv-footer a{
    width: 20%;
    text-align: center;
    padding: 6px 35px;
    border: 2px solid black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    color: #161616;
    border-radius: 25px;
    -webkit-box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.47);
    -moz-box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.47);
    box-shadow: 2px 1px 21px -1px rgba(0,0,0,0.47);
}

.cv-footer a:hover{
    background-color: #161616;
    color: white;
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    transition: .2s ease;
}

/* Contact*/
.contact-links{
    display: flex;
    justify-content:space-evenly;

}

.w20{
    width: 25%;
    border: 2px dashed azure;
    border-radius: 15px;
    padding: 15px 0;
}

.w20:hover{
    filter: contrast(200%);
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    transition: .1s ease;
}

.mailto-link{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-decoration: none;
    color: azure;
    align-items:center;
}

.mailto-img{
   width: 48px;
}

.mailto-title{
    display: block;
    font-size: 1.2rem;
    font-weight: 700;
    margin: 10px 0;
}

.mailto-text{
    display: block;
}

/* Copyright*/
.copyright{
   padding-top: 50px;
   font-size: 16px;
}

/* Modales*/
.modal{
    display: flex;
    padding: 2rem;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    visibility: hidden;
    opacity: 0;
    transition: 0.2s;
}

.modal.show{
    visibility: visible;
    opacity: 1;
}

.modal-content{
    background-color: white;
    max-width: 1280px;
    margin: 50px auto;
    display: flex;
    flex-flow: column;
    position: relative;
    border-radius: 15px;
}

.modal-close{
    position: absolute;
    top: 15px;
    right: 20px; 
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
}

.modal-close:hover{
    background-color: rgb(235 235 235);
}

.modal-header{
    display: flex;
    justify-content: center;
    padding: 25px;
    max-height: 60px;
}

.modal-body{
    box-sizing: border-box;
    padding: 25px;
    overflow-y: auto;
}

.modal-container{
    display: flex;
    flex-direction: row;
}

.w50{
    width: 50%;
}

.modal-img{
    display: block;
    align-self: start;
    object-fit: contain;
    padding: 10px;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 7px rgba(0, 0, 0, 0.2));
    position: sticky;
    top: 0;
}

.modal-text{
    display: flex;
    padding: 10px;
    flex-direction: column;
    gap: 10px;
}

.modal-text p{
    font-size: 16px;
    font-weight: 500;
    text-align: left;
}

.modal-footer{
    display: flex;
    padding: 25px;
    gap: 80px;
    justify-content: center;
}

.modal-footer a{
    width: 80px;
    text-align: center;
    padding: 6px 35px;
    border: 2px solid black;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    background-color: white;
    color: #161616;
    border-radius: 25px;
}

.modal-footer a:hover{
    background-color: #161616;
    color: white;
    -ms-transform: scale(1.02); /* IE 9 */
    -webkit-transform: scale(1.02); /* Safari 3-8 */
    transform: scale(1.02);
    transition: .2s ease;
}

/* Responsive design*/
@media screen and (max-width: 1080px)  {

    h1 {
        font-size: 3.5rem;
    }

    .slider-content h2 {
        font-size: 1.5rem;
    }

    .w40{
        padding-left: 0px;
        padding-right: 0px;
    }

    .mcenter {
        justify-content: center;
        text-align: center;
    }

    .realisation {
        width: 48%;
    }

    .tablet {
        margin-left: 12px;
        padding-right: 12px;
    }

    .medium {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .w14 {
        width: 22%;
    }

    .gap50 {
        gap: 20px;
    }

    .modal h2 {
        font-size: 2.2rem;
    }

    .button-cv h2 {
        font-size: 2rem;
    }

    .mailto-text {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 940px) {
    
    .slider {
        min-height: 60vh;
    }

    h1 {
        font-size: 3rem;
        padding-top: 50px;
    }

    .slider-content h2 {
        font-size: 1.2rem;
    }

    .section {
        padding: 35px 10px;
    }

    h2 {
        font-size: 2rem;
        margin-bottom: 35px;
    }

    p {
        font-size: 1.2rem;
    }

    .header-menu {
        font-size: 1rem;
    }

    .w60 {
        padding-left: 0px;
        padding-right: 0px;
    }
    
    .realisation {
        width: 48%
    }

    .column {
        flex-direction: column;
    }

    .wmobile100 {
        width: 98%;
    }
    
    .w20 {
        width: 28%;
        padding: 5px 0;
    }

    .button-cv h2 {
        font-size: 1.8rem;
    }
    
    .mailto-title {
        font-size: 1rem;
        font-weight: 500;
        margin: 5px 0;
    }

    .mailto-text {
        font-size: 0.8rem;
    }

    .copyright {
        font-size: 0.8rem;
    }
}

@media screen and (max-width: 800px) {
    
    .header-menu li a {
        padding: 5px 10px;
    }
    .slider-content {
        width: 90%;
    }

    .slider-content h2 {
        margin-top: 20px;
    }

    .header-menu {
        font-size: 0.7rem;
    }

    .realisation img {
        filter: brightness(80%);
    }

    .realisation h3 {
        font-size: 1.2rem;
        opacity: 1;
        color: white;
        text-shadow: 2px 2px 15px #ddd2d2,
                     -2px 2px 15px #433f3f,
                     -2px -2px 15px #ddd2d2,
                     2px -2px 15px #433f3f;
    }

    .w20 {
        width: 30%;
    }

    .mailto-img {
        width: 36px;
    }

    .mailto-text {
        font-size: 0.7rem;
    }

    .copyright {
        font-size: 0.7rem;
    }

    .modal-container {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        gap: 45px;
    }

    .modal-content {
        width: 100%;
    }

    .modal-img {
        width: 100%;
        position: relative;
        padding: 0;
    }

    .modal-text {
        width: 100%;
        padding: 0;
    }

    .modal-text p {
        font-size: 14px;
    }

    .modal h2 {
        margin-bottom: 0;
        margin-top: 20px;
        font-size: 1.5rem;
    }

    .modal-close {
       width: 16px;
       height: auto;
    }

    .button-cv h2 {
        font-size: 14px;
    }

    .cv-footer h2 {
        font-size: 12px;
    }
}

@media screen and (max-width: 610px) {
    
    header {
        height: 60px;
        justify-content: center;
        align-items: center;
    }

    .header-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0;
    }
   
    header .header-menu {
        position: fixed;
        top: 0;
        left: 50%;
        transform: translate(-50%, 0);
        width: 100%;
        height: 25vh;
        background-color: white;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 5px;
        display: none;
    }

    header:hover .header-menu {
        display: flex;
    }

    .section {
        scroll-margin-top: 210px;
    }

    h1 {
        font-size: 2.2rem;
    }

    h2 {
        font-size: 1.5rem;
    }

    p {
        font-size: 1rem;
    }

    .w14 {
        width: 46%;
    }

    .realisation {
        width: 46%;
    }

    .realisation h3 {
        font-size: 1rem;
    }

    .w20 {
        width: 75%;
        padding: 5px 30px;
    }

    .contact-links {
        flex-wrap: wrap;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-content: center;
    }

    .mailto-img {
        width: 36px;
    }

    .mailto-title {
        font-size: 0.8rem;
    }

    .mailto-text {
        font-size: 0.6rem;
    }

    .copyright {
        font-size: 0.6rem;
    }

    .modal {
        padding: 0.7rem;
    }

    .modal-content {
        margin: 0px auto;
    }

    .modal-header {
        padding: 5px;
    }

    .modal h2 {
        font-size: 1rem;
    }

    .modal-footer {
        gap: 40px;
        padding: 15px;
    }

    .modal-footer a {
        width: 50px;
        font-size: 14px;
        padding: 4px 20px;
    }

    .cv-footer {
        gap: 40px;
        padding: 15px;
        margin-bottom: 20px;
    }

    .cv-footer a {
        width: 25%;
        font-size: 12px;
        padding: 4px 20px;
    }
}

@media screen and (max-width: 450px) {

    .realisation {
        width: 98%;
    }

    .modal-footer {
        flex-wrap: wrap;
        flex-direction: column;
        align-items: center;
        gap: 10px;
    }

    .modal-text p {
        font-size: 12px;
    }

    .cv-footer a {
        font-size: 10px;
        width: 35%;
    }
}

@media screen and (max-width: 320px) {

    .w14 {
        width: 90%;
    }
}